# https://access.redhat.com/solutions/6661361
[ssh_connection]
# Control the mechanism for transferring files (old)
#   * smart = try sftp and then try scp [default]
#   * True = use scp only
#   * False = use sftp only
#scp_if_ssh = smart

# Control the mechanism for transferring files (new)
# If set, this will override the scp_if_ssh option
#   * sftp  = use sftp to transfer files
#   * scp   = use scp to transfer files
#   * piped = use 'dd' over SSH to transfer files
#   * smart = try sftp, scp, and piped, in that order [default]
transfer_method = piped

[defaults]
inventory  = hosts

host_key_checking = False

# Good for debugging and running roles/plays separately using tags
# since facts are cached we can refference them in subsequent roles/tags
fact_caching = jsonfile
fact_caching_connection = .ansible_facts_cache

# Custom SSH port
remote_port = 23

[privilege_escalation]
become_method = ansible.builtin.su
