[Unit]
Description=Invidious
After=network.target

[Kube]
Yaml=invidious.pod.yaml
ConfigMap=invidious.configmap.yaml
PublishPort={{ invidious.publish_port }}:3000
UserNS=keep-id

[Install]
WantedBy=multi-user.target default.target
