apiVersion: v1
kind: Pod
metadata:
  name: {{ app }}
spec:
  containers:
    - name: server
      image: quay.io/invidious/invidious:{{ invidious.image_tag }}
      env:
        - name: INVIDIOUS_CONFIG
          value: |
            db:
              dbname: {{ postgres.database }}
              user: {{ postgres.user }}
              password: {{ postgres.password }}
              host: localhost
              port: 5432
              check_tables: true
            hmac_key:
    - name: postgres
      image: docker.io/library/postgres:{{ postgres.image_tag }}
      env:
        - name: POSTGRES_USER
          value: {{ postgres.user }}
        - name: POSTGRES_PASSWORD
          value: {{ postgres.password }}
        - name: POSTGRES_DB
          value: {{ postgres.database }}
      volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
        - name: init-invidious-db
          mountPath: /docker-entrypoint-initdb.d

  volumes:
    - name: postgres-data
      hostPath:
        path: /home/{{ ns }}/postgres/data
    - name: init-invidious-db
      configMap:
        name: invidious-config
